*.idea
backend/parking_venv
__pycache__/
__pycache__/
parking_space/backend/src/api/parking/__pycache__
parking_space/backend/src/api/parking/__pycache__
*.jpg
backend/data
.vscode
backend/yolo*
backend/classs.py
backend/src/__pycache__
backend/src/api/__pycache__
backend/src/api/stream/__pycache__
backend/src/api/parking/__pycache__
parking_space/backend/src/api/parking/__pycache__
__pycache__/
**/__pycache__/
__pycache__
backend/src/parking/__pycache__
**.env
backend/src/parking.db
backend/src/migrations/__pycache__
backend/src/migrations/README
# backend/src/ml
frontend/.DS_Store
frontend/.vscode
frontend/dist
frontend/node_modules
frontend/.eslintrc.cjs
frontend/package-lock.json
.DS_Store